@model BasicStatsGroupViewModel

@{
    ViewData["Title"] = "History";
}

    <div class="bg-primary m-1 p-1 text-white"><h4>History</h4></div>
    <br />
    <form asp-controller="Home" asp-action="History" method="get">
        <div>
            <p>
                Find by date(DD-MM-YYYY): <input type="datetime" name="SearchDate"
                                     value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </p>
        </div>
    </form>

    <div>
        <p><i class="fas fa-calendar"></i> Date: @Model.Date.ToShortDateString()</p>
        <p><i class="fas fa-chart-line"></i> Total number of tests conducted: @Model.TotalTests</p>
        <p><i class="fas fa-first-aid"></i> Total number of positive cases identified: @Model.TotalPositiveCases</p>
        <p><i class="fas fa-child"></i> Total number of recoveries: @Model.TotalRecoveries</p>
        <p><i class="fas fa-praying-hands"></i> Total number of deaths: @Model.TotalDeaths</p>
    </div>